/*Mobile First*/

/*MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
           @MEDIA 320px
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM*/



 @media only screen and (min-width : 320px) {

/*************************************
          Tag/Element Selectors 320px
***************************************/
* {
    box-sizing: border-box;
}

a{
    text-decoration: none;
     color: white;
}
a:hover{
    color: red;
}

body{
    color: white;
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Arvo', serif;*/
    margin: 0px 40px;
    background: #262626;
}

button, input, optgroup, select, textarea{
      font-family: 'Open Sans', sans-serif;
}


form{
   width: auto;
   max-width: 85vw;
   min-width: 75vw;
}
i{
 font-size: 25px;
}

a:hover{
    text-decoration: none;
}
input{
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: white;
    border-radius: 0px;
 
  
}

input:focus {
    outline: none;
}

label{
    display: inline-block;
    width: 5%;
    padding-right: 40px;
}

p {
    text-align: center;
    padding: 10px;
}



/*************************************
CLASSES 320px
***************************************/

.menuBar{
    width: 100vw;
    list-style: none;
    color: white;
     min-height: 20%;
}

/*.dash{
    background-color: #0D76FF;
   
}
.stocks{
    background-color: #0CA5E8;
}
.data{
    background-color: #00F5FF;
}
.another{
    /*background-color: #0CE8B3;*/
    background-color: #0DFF80;
}*/






body{
  font-family: 'Open Sans', sans-serif;
  background:#ecf0f1;
  margin:30px;
}

a{
  text-decoration:none;
  color:white;
}

.logo{
  float:left;
  color:white;
  font-weight:600;
  margin-right:15px;
  margin-left:20px;
  padding-right:30px; 
}







/* START wetasphalt NAV */

.wetasphalt-nav{
  
  border-radius:6px;
  width: 20vw;
  padding-top:15px;
  padding-bottom:15px;
  font-size:14px;
  margin-bottom:10px;
  border-top: 1px solid white;
}

.wetasphalt-nav ul { margin: 0; padding: 0; list-style-type: none; list-style-image: none; }

.wetasphalt-nav li { margin-right: 0px; display: inline; }

.wetasphalt-nav ul li a { text-decoration:none;  margin: 0px; padding: 15px 20px 15px 20px; color:#ffffff; }

.wetasphalt-nav ul li a:hover { color: #fff; background-color:#212020; text-decoration:none; }

.wetasphalt-nav li.current-menu-item a{ color: #fff; text-decoration:none; background-color:#262626; }

.wetasphalt-nav li.current_page_item  { color: #fff; text-decoration:none; background-color:#262626; }



/*************************************
ID's 320px
***************************************/
#avgChart{
    height: 45vh;
   
}
#buySellChart {
    height: 45vh
}
#timeButton{
    font-size: 16px; 
    display: inline-block;
    background: transparent;
    border-right: 1px solid white;
    border-bottom: none;
    border-left: none;
    border-top: none;
    color: white;
}

/*MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
           @MEDIA 480px
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM*/
    /* Extra Small Devices, Phones */ 

/*************************************
ID's 480px
***************************************/
    @media only screen and (min-width : 480px) {


.wetasphalt-nav{
  width: 20vw;

}
    
/*MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
           @MEDIA 768px
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM*/
    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

/*EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE
Tag/Element Selectors 768px
EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE*/

form{
    max-width: 786px;
        /*background:rgba(233,333,883,0.2);

    filter:blur(4px);
    -o-filter:blur(4px);
    -ms-filter:blur(4px);
    -moz-filter:blur(4px);
    -webkit-filter:blur(4px);*/
}

#input1{
    width: 80%  
}
#input2{
    width: 89%  
}

label{
    padding-right:46px;
}


/*************************************
CLASSES 768px
***************************************/
.fieldset1 {
    width:49%;

}
.inline-block{
    display: inline-block;
}

.logo{
    margin-top: 150px;
}
.registerButton{
  max-width: 95%;
  height: 40px;
}



/*MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
           @MEDIA 992px
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM*/

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
.logo{
    margin-top: 200px;
}
    }


/*MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
           @MEDIA 1200px
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM*/
    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
             



/*If your going to use text-align center then you would apply text-align: center to it's parent. Get's inherited so any child element will also get this property inherited to them*/
/*If nothing else is sharing the space then you can display: block and use margin auto