/*Mobile First*/

/*MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
           @MEDIA 320px
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM*/



 @media only screen and (min-width : 320px) {

/*************************************
          Tag/Element Selectors 320px
***************************************/
* {
    box-sizing: border-box;
}

a{
    text-decoration: none;
     color: #0CA5E8;
}

body{
    color: white;
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Arvo', serif;*/
    margin: 0px 40px;
    background: #262626;
}

fieldset{
    border: none;
    margin-top: 50px;
}

/*body > form > fieldset > input[

]*/

form{
    margin-top: 200px;
    background: rgba(63,62,62,0.5);
    border-radius: 10px;
    padding: 20px;
    display: block;
    margin:auto;
    margin-top: 60px;
    text-align: center;
}
/*i{
 font-size: 25px;
}*/

a:hover{
    text-decoration: none;
}
input{
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: white;
    border-radius: 0px; 
    width: 25vw;
    font-size:1em;
    text-align: center;
}

input:focus {
    outline: none;
    
}

p {
    text-align: center;
    padding: 10px;
}

/*THIS IS THE PLACEHOLDER*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:   rgba(255,255,255,0.3)

}
::-moz-placeholder { /* Firefox 19+ */
  color:   rgba(255,255,255,0.3)
}
:-ms-input-placeholder { /* IE 10+ */
  color:   rgba(255,255,255,0.3)
}
:-moz-placeholder { /* Firefox 18- */
  color:   rgba(255,255,255,0.3)
}
 

/*************************************
CLASSES 320px
***************************************/
.fieldCenter{
    text-align: center;
}
.stockButton{
  width: 95%;
  height: 40px;
  background-color: #0CA5E8;
  border: #0CA5E0;
  color: white;
  border-radius: 5px;
  font-size: 1em;
  margin-top: 30px;

}

.stockTitle{
    font-size: 1em;
}

.title{
    text-align: center
}

.welcome{
    font-size: 1.5em;
}


/*************************************
ID's 320px
***************************************/


#input1{
    width: 80%;
}
    
#input2{
    width: 80%;
}
    
 }
/*MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
           @MEDIA 480px
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM*/
    /* Extra Small Devices, Phones */ 

/*************************************
ID's 480px
***************************************/
    @media only screen and (min-width : 480px) {
 #input1{
    width: 85%;
}
    
#input2{
    width: 85%;
}


/*************************************
Class 480px
***************************************/


.stockTitle{
    font-size: 1.25em;
}

.title{
    text-align: center
}

.welcome{
    font-size: 1.75em;
}
    }
    
/*MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
           @MEDIA 768px
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM*/
    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

/*EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE
Tag/Element Selectors 768px
EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE*/

form{
    max-width: 786px;
        /*background:rgba(233,333,883,0.2);

    filter:blur(4px);
    -o-filter:blur(4px);
    -ms-filter:blur(4px);
    -moz-filter:blur(4px);
    -webkit-filter:blur(4px);*/
}

#input1{
    width: 80%  
}
#input2{
    width: 89%  
}

label{
    padding-right:46px;
}


/*************************************
CLASSES 768px
***************************************/
.fieldset1 {
    width:49%;

}
.inline-block{
    display: inline-block;
}

.logo{
    margin-top: 150px;
}
.registerButton{
  max-width: 95%;
  height: 40px;
}
.stockTitle{
    font-size: 1.5em;
}

.title{
    text-align: center
}

.welcome{
    font-size: 2em;
}
    }

/*MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
           @MEDIA 992px
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM*/

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }


/*MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
           @MEDIA 1200px
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM*/
    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
             



/*If your going to use text-align center then you would apply text-align: center to it's parent. Get's inherited so any child element will also get this property inherited to them*/
/*If nothing else is sharing the space then you can display: block and use margin auto