
h1 {
     color: white;
     font-family: 'Irish Grover', cursive;
  text-align: center;

  font-size: 50px;
     
}

.naughtyText{
  top : 30%;
  transform: translateY(-50%) translateX(-48%);
  left : 50%;
}

.toText{
  position: relative;
 -ms-transform: rotate(-15deg); /* IE 9 */
    -webkit-transform: rotate(-15deg); /* Chrome, Safari, Opera */
    transform: rotate(-15deg);
  color: rgba(0,0,0,0.6);
  display: inline-block;
  top: 50%;
  left: 50%;
  margin-top: 569px;
  font-size: 60px;
}

body{
  background: url('/santa.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 1363px;
}
.relative{
  position: relative;
  display: inline-block
}

.absolute {
  position: absolute;
  display: inline-block
}

.input{
  width: 300px;
  height: 40px;
  top : 30%;
  transform: translateY(-50%) translateX(-55%);
  left : 50%;
  margin-top: 40px;
  
}
.input:focus {
    outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 20px darkred;
}
.text-center{
  text-align: center;
}
/*
.box1{
position: relative;
  height : 500px;
  width  : 500px;
  background-color: cyan;
  display: inline-block;
}

.box2{
 position:absolute;
  height: 100px;
  width : 100px;
  background-color: dodgerblue;
  display: inline-block;
  top : 50%;
  transform: translateY(-50%) translateX(-50%);
  left : 50%;
}*/

/*
@media screen and (max-width: 480px) {
    html {

      background: no-repeat center center fixed; 
  background-size: 800px;

    }
}*/