
* {
  box-sizing: border-box;
}

html {
  font-size: 8px;
}

.logo {width: 266px;
 height: 150px;
margin: 0px;
}
/*DELETE LATER*/



/* Header Styles
---------------------------------*/

.header{
	text-align:center;
  background-color: black;
	/*background:url(../img/pw_maze_black_2X.png) left top repeat;*/
	padding:96px 0;
}

.name{
	font-family: 'Montserrat',sans-serif;
	font-size:100px;
	font-weight:400;
	letter-spacing: -1px;
	margin:0 0 22px 0 ;
	color:#fff;
}

.developer{
  list-style-type: none;
	display:inline-block;
	font-family: 'Montserrat',sans-serif;
	font-size:20px;
	color: white;
	text-transform: uppercase;
	font-weight: 400;
	margin:0 5px 0 0;
	padding:0 0 0 15px;  
}

.container{
  padding: 0px;
}

.outline-button:focus {
    outline: none !important;
    border:1px solid #59100B;
    box-shadow: 0 0 10px #59100B;
}




/* Navagation Bar/Buttons
---------------------------------*/
.outline-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1) inset;
  background: none;
  padding: 2rem 6rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  color: black;
    top: -43%;
    text-align: center;
/*changes I made*/
	color:black;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	line-height:20px;
	margin:17px 32px;
}
.outline-button:hover .outline-button__line {
  -webkit-transform: none;
          transform: none;
}

.outline-button__line {
  background: black;
  position: absolute;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.6s cubic-bezier(0.86, 0, 0.07, 1);
}
.outline-button__line--horizontal {
  width: 100%;
  height: 2px;
  -webkit-transition-delay: 0.27273s;
          transition-delay: 0.27273s;
}
.outline-button__line--vertical {
  width: 2px;
  height: 100%;
  -webkit-transition-delay: none;
          transition-delay: none;
}
.outline-button__line--top {
  top: 0;
  left: 0;
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
}
.outline-button__line--right {
  top: 0;
  right: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.outline-button__line--bottom {
  bottom: 0;
  left: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.outline-button__line--left {
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.navbar{
	line-height:20px;
background:#fff;

}


.main-nav-outer{
	padding:0px;
	border-bottom:1px solid #dddddd;
	box-shadow:0 4px 5px -3px #ececec;
	position:relative;
text-align: center;

}

/*End of Nav Buttons*/



/*ABOUT SECTION*/
.aboutLine {
    border-bottom: 10px solid #59100b;
    width: 201px;
    margin: auto;
}
  .aboutMeLine {
border-bottom: 5px solid #59100b;
    width: 228px;
  }
  .aboutMeText{
    padding-top:80px;
  }
  .aboutMePara{
    padding-top: 20px;
  }

.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.linePadding{
  padding-bottom: 600px;
}


/*
2 different html pages
@media query: 
display: none*/


/*HONEYCOMB PORTFOLIO*/

.honeycomb{
margin-top: 40px;
background: "center no-repeat";
background-color: blue;
}
#lion{
  width: 400px;
    height: 400px;
    padding-right: 67px;
    margin-left: -48px;
    margin-top: 20px;
}


@import url(http://fonts.googleapis.com/css?family=Lato:300);
/* Variables */
h1 {
  	font-family: 'Montserrat',sans-serif;
  font-size: 4em;
  font-weight: 300;
  text-align: center;
  /*margin: 100px 10px 0 10px;*/
}

.projectsLine {
  border-bottom:10px solid #59100b;
  width: 280px;
  margin: auto;
  margin-bottom: 30px;
  }

body {
  background: #fff;
}

section {
  margin: 0 auto;
  text-align: center;
  width: 960px;
}

.hex_row_even {
  display: inline-block;
  margin: 0 auto -275px auto;
  overflow: hidden;
}

.hex_row_odd {
  display: inline-block;
  margin: 0 auto -275px auto;
  overflow: hidden;
}

.center {
  float: left;
  margin: 20px 10px;
  width: 220px;
}

.hexagon {
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
  cursor: pointer;
  height: 440px;
  overflow: hidden;
  visibility: hidden;
  width: 220px;
}

.hex1 {
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.hex2 {
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
  height: 100%;
  /*@include background-size(($width + ($width * .20)) ($width + ($width * .20)));
  background-position: 50%;*/
  position: relative;
  visibility: visible;
  width: 100%;
}

.desc {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  height: 440px;
  line-height: 1.5em;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  visibility: visible;
  width: 220px;
}
.desc.base {
  background: rgba(230, 0, 98, 0.75);
}
.desc.one {
  background: rgba(252, 171, 55, 0.75);
}
.desc.two {
  background: rgba(169, 160, 50, 0.75);
}
.desc.three {
  background: rgba(83, 70, 54, 0.75);
}
.desc h2 {
  margin: 165px 20px 0 20px;
}
.desc p {
  font-size: .5em;
  text-transform: lowercase;
}


/*Seperating line*/
.line {
  border-bottom:1px solid #ccc;
  width: 300px;
  margin: auto;
  margin-bottom: 30px;
  }

/*Contact header*/

.contact{
  padding-top: 650px;
  padding-bottom: 10px;
}

.contactLine {
  border-bottom:10px solid #59100b;
  width: 300px;
  margin: auto;
  margin-bottom: 30px;
  }


/* Contact Section */
#tf-contact{
	padding: 30px 0;
}

label {
	float: left;
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}

h2 {
  font-family: 'Montserrat',sans-serif;
  font-size: 2em;
  font-weight: 300;
  margin: 0px;
  
}
.feelCenter{
  text-align: center;
}
.contactThankText{
  text-align: center;
  font-weight: 100px;
  font-size: 1.25em;
}

#tf-contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}

#tf-contact .form-control:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}

button.btn.tf-btn.btn-default {
	float: right;
	background: #59100b;
	border: 0;
	border-radius: 0;
	padding: 10px 40px;
	color: #ffffff;
	text-transform: uppercase;
}

.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn:focus, 
.btn:active:focus, 
.btn.active:focus, 
.btn.focus, 
.btn:active.focus, 
.btn.active.focus {
	outline: thin dotted;
	outline: none;
	outline-offset: none;
}


#padding{
  padding-bottom: 400px;
}