<!DOCTYPE html>
<html ng-app='hideForm'>  
    <head>  
        <title>Hide a Form</title> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
        <link rel='stylesheet' href='/main.css'>
        <script src='/main.js'></script>

    </head>
    <body ng-controller='formController as fCtrl'>
        {{fCtrl.greeting}}
        <form action="">
            <input type="text" placeholder='name' ng-model='fCtrl.name'>
            <button ng-click='fCtrl.formClick()'> </button>

            {{fCtrl.name}}
        </form>

    </body>
</html>