<script src="../js/themes/averageTheme.js"></script>
<link rel="stylesheet" type="text/css" href="/css/average.css">


<div class='container'>
    <p><a class='navbar' href="/logout" class="btn btn-lg btn-danger">Logout</a></p>
    <form ng-submit='average.getSymbol.submit(1)'>
        <fieldset>
            <input type="text" name="ticker symbol" ng-model="average.factory.symbol">
            <!--<input type="text" name="time period for chart" ng-model="average.days">-->
        </fieldset>
        <button type="submit">button</button>
        <!--<h1>{{average.info.Name}}</h1>
            <h2>{{average.info.Symbol}}</h2>
            <h2>{{average.chart}}</h2>
            <p>{{average.greeting}}</p>-->
        <div id="avgChart"></div>
        <div id="buySellChart"></div>
        <div class='buttonOuterDiv'>
            <div class='buttonInnerDiv'>
                <button ng-click='average.oneDay()'>1D</button>
                <button ng-click='average.oneWeek()'>1W</button>
                <button ng-click='average.oneMonth()'>1M</button>
                <!--<button ng-click='average.sixMonths()'>6M</button>-->
                <button ng-click='average.oneYear()'>1YR</button>
                <button ng-click='average.fiveYears()'>5YR</button>
                <button id="tenYear" ng-click='average.tenYears()'>10YR</button>
                <button id="MAX" ng-click='average.max()'>MAX</button>
            </div>
        </div>
    </form>

    <div class="bottom-nav">
        <div class='bottom-nav-div'>
            <ul>
                <li><a href="#/home"><i class="fa fa-home" id='faEnvelope' aria-hidden="true"></i>{{average.homeBNB}}</a></li>
                <li><a href="#/stock"><i class="fa fa-area-chart" id='faEnvelope' aria-hidden="true"></i>{{average.stockBNB}}</a></li>
                <li><a href="#/average"><i class="fa fa-bar-chart-o" id='faEnvelope' aria-hidden="true"></i>{{average.averageBNB}}</a></li>
                <!--<li><i class="fa fa-sign-out" id='faEnvelope' aria-hidden="true"></i><a href="#">{{average.otherBNB}}}</a></li>-->
            </ul>
        </div>
    </div>
    <!-- End Nav -->

</div>