<!DOCTYPE>
<html ng-app='stockApp'>

<head>
    <title>This is where you put in your stock ticker symbol</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"/>-->
    <link href="https://fonts.googleapis.com/css?family=Arvo|Open+Sans" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="../js/themes/avgTheme.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="../js/average.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/average.css">
</head>

<body ng-controller='stockController as stock'>
    <form ng-submit='stock.getSymbol.submit(1)'>
        <fieldset>
            <input type="text" name="ticker symbol" ng-model="stock.symbol">
            <!--<input type="text" name="time period for chart" ng-model="stock.days">-->
        </fieldset>
        <button type="submit">button</button>
        <h1>{{stock.info.Name}}</h1>
        <h2>{{stock.info.Symbol}}</h2>
        <h2>{{stock.chart}}</h2>
        <p>{{stock.greeting}}</p>
        <div id="container" style="height: 400px; width: 100vw"></div>
        <div id="buySellContainer" style="min-width: 310px; width: 100vw; height: 400px; margin: 0 auto"></div>
        <button ng-click='stock.getSymbol.submit(1)'>1D</button>
        <button ng-click='stock.getSymbol.submit(7)'>1W</button>
        <button ng-click='stock.getSymbol.submit(30)'>1M</button>
        <button ng-click='stock.getSymbol.submit(180)'>6M</button>
        <button ng-click='stock.getSymbol.submit(365)'>1YR</button>
        <button ng-click='stock.getSymbol.submit(1825)'>5YR</button>
    </form>

    <p><a href="/logout" class="btn btn-lg btn-danger">Logout</a></p>
</body>

</html>