<!DOCTYPE html>
<html ng-app="module.auth">
    <head>
        <title>Login</title>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
        <script src="/js/module.auth.js"></script>
        <style>
            fieldset {
                margin: 10px 0;
            }
        </style>
    </head>
    <body ng-controller="module.auth.controller as auth">
        <form ng-submit="auth.register.submit($event)">
            <h1>Register!</h1>
             <fieldset>
                <label>First Name</label>
                <input required placeholder="First Name" type="text" ng-model="auth.payloads.register.fname"/>
             </fieldset>
                <fieldset>
                <label>Last Name</label>
                <input required placeholder="Last Name" type="text" ng-model="auth.payloads.register.'lname"/>
            </fieldset>
            <fieldset>
                <label>Email</label>
                <input required placeholder="Email" type="text" ng-model="auth.payloads.register.email"/>
            </fieldset>
            <fieldset>
                <label for="password">Password</label>
                <input required placeholder="Create a password" type="password" ng-model="auth.payloads.register.password"/>
            </fieldset>
            <button type="submit">Register</button>
            <p ng-class="auth.register.alert">{{ auth.register.message }}</p>
        </form>
    </body>
</html>
