<!DOCTYPE html>
<html ng-app='app'>  

<head>

    <title>Angular Avengers</title>
    <link rel='stylesheet' href='main.css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <script src='main.js'></script>

</head>

<body >
 <!--mustaches are angular variables-->
 <div ng-controller='mainControl as mCtrl'>

     <h1>{{mCtrl.title}}</h1>
     <input type'text' placeholder'Avenger Name' ng-model='mCtrlHero'>
     <button ng-click='mCtrl.addHero()'ng-class'btn btn-danger'>Add Hero</button>
     <ol ng-class='mCtrl.listClass'>
         <li ng-repeat='hero in mCtrl.heroes'>{{hero}} is hero</li>
         <!--takes the array of heros = ['Hulk', 'Thor', 'Ironman']-->
    </ol>
     
 </div>
   
</body>

</html>